#campo
{
position: absolute;
top: 50px;
left: 50px;
width: 1400px;
height: 800px;
background-color: darkgreen;
}

#linhaprincipal
{
position: relative;
top: 40px;
left: 55px;
width: 1280px;
height: 720px;

border: 5px solid white;
overflow: hidden;
}

#circulo-centro
{
position: relative;
margin-top: 200px;
margin-left: 450px;
width: 350px;
height: 350px;

border: 5px solid white;
border-radius: 100%;
}

#circulo-central
{
position: relative;
top: -180px;
left: 615px;
width: 0px;
height: 0px;

border: 10px solid white;
border-radius: 100%;
}

#linha-central
{
position: relative;
top: -585px;
left: 620px;
width: 0px;
height: 720px;

border: 5px solid white;
}

#borda1
{
position: relative;
top: -625px;
left: -25px;
width: 50px;
height: 50px;

border: 5px solid white;
border-radius: 100%;
}

#borda2
{
position: relative;
top: -685px;
left: 1245px;
width: 50px;
height: 50px;

border: 5px solid white;
border-radius: 100%;
}

#borda3
{
position: relative;
top: -1455px;
left: -25px;
width: 50px;
height: 50px;

border: 5px solid white;
border-radius: 100%;
}

#borda4
{
position: relative;
top: -1515px;
left: 1245px;
width: 50px;
height: 50px;

border: 5px solid white;
border-radius: 100%;
}